h1 {
    font-family: Segoe UI, sans-serif;
    font-size: 48px;
    margin-left: 200px;
}

body {
    background-color: #353a43;
    color: white;
}

ni-cartesian-graph {
    background-color: #353a43;
    border: none;
    color: white;
}

ni-cartesian-graph ni-grid-div {
    background-color: #464C57;
}

ni-cartesian-graph[ni-control-id='77'] {
    color: white;
}

jqx-progress-bar {
    border: none;
}

jqx-progress-bar .jqx-value {
    background-color: #4c9be0;
}

jqx-led .jqx-true-content-container {
    background-color: #3ab878;
}

jqx-led[shape="square"] .jqx-input {
    border: none;
}

jqx-led .jqx-false-content-container {
    background-color: #464C57;
}

jqx-led .jqx-input {
    border-color: white;
}

ni-data-grid .ni-grid-widget-content {
    border: none;
}

.ni-front-panel {
  background-color: inherit;
}

.jqx-widget .jqx-grid-cell {
    background-color: #464C57;
}

.jqx-widget-header {
    background-color: #464C57;
    color: white;
    font-family: arial;
    font-size: 14px;
}

jqx-numeric-text-box[readonly="true"] .jqx-numeric-text-box-component {
    background-color: #464C57;
    color: white;
}

jqx-tank .jqx-tick {
    background-color: white;
}

jqx-tank .jqx-value {
    background-color: #3ab878;
}

jqx-slider .jqx-tick {
    background-color: white;
}

jqx-slider .jqx-value {
    background-color: #3ab878;
}

jqx-slider .jqx-track {
    background-color: #464C57;
}
